<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Runner">
    <test verbose="3" name="Member Login" preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.tal.Base.Runner" />
        </classes>
    </test>
</suite>